<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li>
  <a href="<%- url_for("/guide/index.html") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a>
</li>
<li>
  <a href="<%- url_for("/examples/index.html") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a>
</li>
<%- partial('partials/support_machinelabs_dropdown') %>
