<li>
  <form id="search-form">
    <input type="text" id="search-query-<%- context %>" class="search-query st-default-search-input">
  </form>
</li>
<li>
  <a href="<%- url_for("/guide/index.html") %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a>
</li>
<li>
  <a href="<%- url_for("/examples/index.html") %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a>
</li>
<!-- <%- partial('partials/learn_dropdown') %> -->
<%- partial('partials/support_machinelabs_dropdown') %>
<!-- 
<%- partial('partials/ecosystem_dropdown') %>
<li>
  <a href="<%- url_for("/v2/guide/team.html") %>" class="nav-link team<%- page.path.match(/team\.html/) ? ' current' : '' %>">Team</a>
</li>

<%- partial('partials/language_dropdown') %> -->
